@import "tailwindcss";

@theme {
  --tw-shadow-retro: 4px 4px 0px 0px black;
}

@layer utilities {
  .shadow-retro {
    --tw-shadow: var(--tw-shadow-retro);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                var(--tw-ring-shadow, 0 0 #0000),
                var(--tw-shadow);
  }
}

.center-parent {
  @apply flex flex-1 h-auto justify-center items-center;
}
